In [210]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [211]:
scope_traces=[] #this will be the list of dataframes
file_names=os.listdir('Measurement data')

Provjera upload-a:

In [212]:
file_names[0]

'01012016.xls'

Odabir kolona iz Excel sheetova za svaki fajl:

In [213]:
column_indices1=list(range(2))
column_indices2=list((np.arange(1,3)))
column_indices3=list((np.arange(1,6)))
columns_from_sheets={'Plinomjer istočna zgra 00039413':column_indices1,'Brojilo el.energije su 35649294':column_indices2,"Brojilo el.energije tr 35649314":column_indices2,'Vodomjer stara 09249850':[1],'Vodomjer nova 09249847':[1],'Vodomjer hidrant 10058705':[1],'Brojilo el.energije ko 46621646':column_indices2,
'Brojilo el.energije po 38878959':column_indices2,'Brojilo el.energije kl 46868995':column_indices2,'Kalorimetar 1 39024788':column_indices3,
 'Kalorimetar 2 39024724':column_indices3,'Kalorimetar 3 39024787':column_indices3,'Temp.senzor un.1 24003403':column_indices2,'Temp.senzor un.2 24004659':column_indices2,
 'Temp.senzor un.3 24003393':column_indices2,'Temp.senzor un.4 24004658':column_indices2,'Temp.senzor un.5 24007590':column_indices2,'Temp.senzor un.6 24007412':column_indices2,'Temp.senzor un.7 24007548':column_indices2,'Temp.senzor un.8 24007403':column_indices2, 'Temp.senzor vanj.1 25000099':column_indices2,'Plinomjer zapadna zgra 20526379':[1]   }

Preuzimanje podataka iz svakog sheet-a i spajanje u jedan sheet za svaki dan pojedinačno. Iz odabira je isključen sheet 'Brojilo el.energije Lo 46622131', jer je prazan. Sheetovi imaju različite nazive kroz fajlove, pa se moraju staviti u petlju. Ovaj korak malo duže traje prilikom izvršavanja.

In [214]:
df_all_files=[None]*len(file_names)

column_indices=list(columns_from_sheets.values())
for file in file_names:
    xls=pd.ExcelFile('Measurement data\\'+file)
    sheet_names=xls.sheet_names
    delete_names=['Brojilo el.energije Lo 46622131',]
    selected_sheet_names=[ele for ele in sheet_names if ele not in delete_names]
    
    df=[None]*len(selected_sheet_names)
    df=[pd.read_excel('Measurement data\\'+file, sheet_name=i, usecols=column_indices[selected_sheet_names.index(i)]) for i in selected_sheet_names]
    df1=pd.concat(df[:],axis=1,)
    df_all_files[file_names.index(file)]=df1

Provjera da li postoje podaci za svaki dan u opsegu 00:00 do 23:00. Na osnovu toga su određeni listovi (kolona: Datum i vrijeme) popunjeni satima koji nedostaju, a vrijednosti podataka su prazne ćelije.

In [215]:
def check_empty(trace,i):
    empty_cell=(trace['Datum i vrijeme'].isnull().values.any())
    if empty_cell==True:
        print("Empty_cell",i)
    else:
        pass

In [216]:
for i in range(len(df_all_files)): #check for all files
    print(i, end="\r") 
    check_empty(df_all_files[i],i)

In [217]:
df_all_files[32]

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Plin (m3)
0,02.04.2017 00:00:00,NaN,468609.4,309542.28,1531195.0,1417410.2,13994.48,18635.84,12.3,67287.0,...,27.46,22.56,31.14,24.72,27.02,24.11,29.12,12.38,53.26,103490.0
1,02.04.2017 01:00:00,NaN,468609.4,309548.08,1531195.0,1417446.8,13994.62,18635.86,12.3,67287.0,...,24.09,22.68,30.91,25.70,26.15,24.29,29.66,16.42,44.69,103490.0
2,02.04.2017 02:00:00,NaN,468609.4,309553.88,1531195.0,1417484.0,13994.79,18635.90,12.3,67287.0,...,23.66,22.76,30.91,26.36,25.40,24.13,29.72,17.91,38.85,103490.0
3,02.04.2017 03:00:00,NaN,468609.4,309559.56,1531195.0,1417521.4,13994.93,18635.94,12.3,67287.0,...,22.52,22.83,30.88,26.81,25.36,23.99,28.61,19.13,33.38,103490.0
4,02.04.2017 04:00:00,NaN,468609.4,309564.80,1531195.0,1417559.0,13995.08,18636.02,12.3,67287.0,...,22.57,22.91,30.86,27.09,25.17,23.98,27.47,20.72,31.41,103490.0
5,02.04.2017 05:00:00,NaN,468609.4,309570.20,1531195.0,1417597.4,13995.23,18636.10,12.3,67287.0,...,22.09,22.97,30.83,27.14,25.24,24.02,27.47,21.98,28.66,103490.0
6,02.04.2017 06:00:00,NaN,468609.4,309575.44,1531195.0,1417636.8,13995.40,18636.18,12.3,67287.0,...,22.96,23.03,30.80,26.97,25.52,24.06,27.40,23.45,28.57,103490.0
7,02.04.2017 07:00:00,NaN,468609.4,309580.44,1531195.0,1417676.4,13995.54,18636.26,12.3,67287.0,...,23.66,22.98,30.79,26.59,26.04,24.08,27.97,23.29,27.13,103490.0
8,02.04.2017 08:00:00,NaN,468609.4,309585.48,1531195.0,1417715.6,13995.67,18636.36,12.3,67287.0,...,24.37,22.92,30.89,26.04,26.61,24.03,28.47,22.24,28.44,103490.0
9,02.04.2017 09:00:00,1475060.0,468609.4,309590.52,1531195.0,1417754.8,13995.81,18636.47,12.3,67287.0,...,22.16,22.90,30.93,25.64,26.98,23.97,28.18,21.49,29.61,103490.0
10,02.04.2017 10:00:00,1475060.0,468609.4,309595.96,1531195.0,1417793.6,13995.94,18636.62,12.3,67287.0,...,23.88,22.74,31.09,25.36,27.10,23.86,28.17,20.59,31.33,103490.0
11,02.04.2017 11:00:00,1475060.0,468609.4,309602.12,1531195.0,1417832.2,13996.06,18636.76,12.3,67287.0,...,27.92,22.65,31.12,25.10,27.34,23.76,28.02,19.12,37.46,103490.0
12,02.04.2017 12:00:00,1475060.0,468609.4,309608.28,1531195.0,1417871.0,13996.18,18636.89,12.3,67287.0,...,28.99,22.59,31.22,24.89,26.89,23.64,27.73,17.37,47.94,103490.0
13,02.04.2017 13:00:00,1475060.0,468609.4,309614.84,1531195.0,1417908.8,13996.28,18637.04,12.3,67287.0,...,29.54,22.52,31.17,24.75,26.81,23.57,28.08,15.85,50.95,103490.0
14,02.04.2017 14:00:00,1475060.0,468609.4,309621.64,1531195.0,1417946.6,13996.38,18637.17,12.3,67287.0,...,30.22,22.47,31.21,24.60,26.90,23.49,28.43,14.64,53.06,103490.0
15,02.04.2017 15:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.31,12.3,NaN,...,NaN,NaN,NaN,24.48,27.04,23.41,28.67,13.62,56.53,NaN
16,02.04.2017 16:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.45,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,02.04.2017 17:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.59,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,02.04.2017 18:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.72,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,02.04.2017 19:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.86,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,02.04.2017 20:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18637.99,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,02.04.2017 21:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18638.09,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,02.04.2017 22:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18638.17,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,02.04.2017 23:00:00,1475060.0,NaN,NaN,NaN,NaN,NaN,18638.24,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Spajanje dnevnih podataka u jedan veliki fajl za sve 3 godine:

In [218]:
df_total=pd.concat(df_all_files[:],axis=0, ignore_index=True)
df_total.tail(100)

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Plin (m3)
15027,31.10.2016 20:00:00,3075004.0,443726.20,272626.60,1432501.6,1326524.0,12917.97,18109.58,12.3,67287.0,...,31.49,20.20,43.27,21.73,26.72,21.82,39.39,5.88,65.52,108896
15028,31.10.2016 21:00:00,3075004.0,443735.28,272626.68,1432552.2,1326524.0,12918.29,18109.68,12.3,67287.0,...,31.27,20.09,43.10,21.59,26.82,21.55,39.73,5.02,68.36,108896
15029,31.10.2016 22:00:00,3075004.0,443744.64,272626.76,1432599.8,1326524.0,12918.6,18109.77,12.3,67287.0,...,31.04,19.98,42.85,21.40,26.73,21.37,38.87,4.39,70.65,108896
15030,31.10.2016 23:00:00,3075004.0,443748.76,272631.56,1432622.6,1326548.4,12918.65,18109.84,12.3,67287.0,...,31.03,19.89,42.61,21.15,26.75,21.19,38.82,3.80,72.54,108896
15031,31.10.2017 00:00:00,1484834.0,476940.36,347735.60,NaN,NaN,15054.99,NaN,NaN,67287.0,...,33.28,18.97,38.93,21.18,29.87,19.53,32.90,3.78,74.97,105599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15122,31.12.2017 19:00:00,1509294.0,481853.36,365280.80,NaN,NaN,15278.03,NaN,NaN,67287.0,...,28.43,19.84,31.16,21.32,27.76,18.97,34.80,1.74,84.61,114606
15123,31.12.2017 20:00:00,1509294.0,481853.36,365289.96,NaN,NaN,15278.03,NaN,NaN,67287.0,...,28.74,19.77,31.22,21.16,27.89,18.86,34.79,1.37,85.76,114606
15124,31.12.2017 21:00:00,1509294.0,481853.36,365299.24,NaN,NaN,15278.03,NaN,NaN,67287.0,...,28.98,19.71,31.25,21.01,28.02,18.75,34.78,0.97,87.14,114606
15125,31.12.2017 22:00:00,1509294.0,481853.36,365308.56,NaN,NaN,15278.03,NaN,NaN,67287.0,...,29.11,19.62,31.28,20.89,28.08,18.65,34.77,0.50,87.71,114606
15126,31.12.2017 23:00:00,1509294.0,481853.36,365318.28,NaN,NaN,15278.03,NaN,NaN,67287.0,...,29.17,19.56,31.27,20.80,28.15,18.53,34.69,0.34,88.09,114606

In [183]:
import datetime as dt

In [219]:
df_total['Datum i vrijeme'] = pd.to_datetime(df_total['Datum i vrijeme'], dayfirst=True)

In [222]:
df_total["hour"]=df_total["Datum i vrijeme"].dt.hour
df_total["dayofweek"]=df_total["Datum i vrijeme"].dt.dayofweek
df_total["Month"]=df_total["Datum i vrijeme"].dt.month
df_total["Year"]=df_total["Datum i vrijeme"].dt.year
df_total['quarter'] =df_total['Datum i vrijeme'].dt.quarter
df_total['dayofyear'] =df_total['Datum i vrijeme'].dt.dayofyear
df_total['dayofmonth'] = df_total['Datum i vrijeme'].dt.day
df_total['weekofyear'] = df_total['Datum i vrijeme'].dt.weekofyear
df_total.head(50)

<ipython-input-222-439361569a58>:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_total['weekofyear'] = df_total['Datum i vrijeme'].dt.weekofyear

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Vlažnost (%),Plin (m3),hour,dayofweek,Month,Year,quarter,dayofyear,dayofmonth,weekofyear
0,2016-01-01 00:00:00,3034444.0,393783.96,241848.80,1277910.2,1177746.0,NaN,NaN,NaN,67287.0,...,62.20,95196,0,4,1,2016,1,1,1,53
1,2016-01-01 01:00:00,3034444.0,393784.92,241861.52,1277913.4,1177788.8,NaN,NaN,NaN,67287.0,...,63.84,95196,1,4,1,2016,1,1,1,53
2,2016-01-01 02:00:00,3034444.0,393784.92,241874.96,1277913.4,1177834.2,NaN,NaN,NaN,67287.0,...,66.08,95196,2,4,1,2016,1,1,1,53
3,2016-01-01 03:00:00,3034444.0,393784.92,241888.52,1277913.4,1177879.8,NaN,NaN,NaN,67287.0,...,72.30,95196,3,4,1,2016,1,1,1,53
4,2016-01-01 04:00:00,3034444.0,393784.92,241902.04,1277913.4,1177925.2,NaN,NaN,NaN,67287.0,...,68.61,95196,4,4,1,2016,1,1,1,53
5,2016-01-01 05:00:00,3034444.0,393784.92,241915.76,1277913.4,1177969.2,NaN,NaN,NaN,67287.0,...,69.08,95196,5,4,1,2016,1,1,1,53
6,2016-01-01 06:00:00,3034444.0,393784.92,241929.36,1277913.4,1178013.8,NaN,NaN,NaN,67287.0,...,69.69,95196,6,4,1,2016,1,1,1,53
7,2016-01-01 07:00:00,3034444.0,393784.92,241943.68,1277913.4,1178058.0,NaN,NaN,NaN,67287.0,...,72.27,95196,7,4,1,2016,1,1,1,53
8,2016-01-01 08:00:00,3034444.0,393784.92,241957.52,1277913.4,1178103.0,NaN,NaN,NaN,67287.0,...,74.09,95196,8,4,1,2016,1,1,1,53
9,2016-01-01 09:00:00,3034444.0,393784.92,241971.72,1277913.4,1178148.6,NaN,NaN,NaN,67287.0,...,75.54,95229,9,4,1,2016,1,1,1,53
10,2016-01-01 10:00:00,3034444.0,393796.04,241972.88,1277955.6,1178151.8,NaN,NaN,NaN,67287.0,...,76.31,95260,10,4,1,2016,1,1,1,53
11,2016-01-01 11:00:00,3034444.0,393807.32,241973.12,1278001.4,1178151.8,NaN,NaN,NaN,67287.0,...,74.34,95283,11,4,1,2016,1,1,1,53
12,2016-01-01 12:00:00,3034444.0,393817.92,241973.32,1278047.4,1178151.8,NaN,NaN,NaN,67287.0,...,71.61,95296,12,4,1,2016,1,1,1,53
13,2016-01-01 13:00:00,3034444.0,393829.24,241973.56,1278093.0,1178151.8,NaN,NaN,NaN,67287.0,...,64.69,95296,13,4,1,2016,1,1,1,53
14,2016-01-01 14:00:00,3034444.0,393840.36,241973.80,1278138.8,1178151.8,NaN,NaN,NaN,67287.0,...,58.42,95296,14,4,1,2016,1,1,1,53
15,2016-01-01 15:00:00,3034444.0,393851.76,241974.08,1278184.2,1178151.8,NaN,NaN,NaN,67287.0,...,54.43,95296,15,4,1,2016,1,1,1,53
16,2016-01-01 16:00:00,3034444.0,393863.12,241974.28,1278229.8,1178151.8,NaN,NaN,NaN,67287.0,...,54.53,95296,16,4,1,2016,1,1,1,53
17,2016-01-01 17:00:00,3034444.0,393875.12,241974.52,1278275.6,1178151.8,NaN,NaN,NaN,67287.0,...,57.66,95296,17,4,1,2016,1,1,1,53
18,2016-01-01 18:00:00,3034444.0,393887.88,241974.72,1278321.2,1178151.8,NaN,NaN,NaN,67287.0,...,58.60,95296,18,4,1,2016,1,1,1,53
19,2016-01-01 19:00:00,3034444.0,393901.12,241974.92,1278366.6,1178151.8,NaN,NaN,NaN,67287.0,...,61.42,95296,19,4,1,2016,1,1,1,53
20,2016-01-01 20:00:00,3034444.0,393915.20,241975.12,1278412.6,1178151.8,NaN,NaN,NaN,67287.0,...,70.28,95296,20,4,1,2016,1,1,1,53
21,2016-01-01 21:00:00,3034444.0,393928.56,241975.44,1278458.0,1178151.8,NaN,NaN,NaN,67287.0,...,79.61,95296,21,4,1,2016,1,1,1,53
22,2016-01-01 22:00:00,3034444.0,393941.36,241975.68,1278503.8,1178151.8,NaN,NaN,NaN,67287.0,...,82.96,95296,22,4,1,2016,1,1,1,53
23,2016-01-01 23:00:00,3034444.0,393954.08,241975.88,1278549.6,1178151.8,NaN,NaN,NaN,67287.0,...,83.25,95296,23,4,1,2016,1,1,1,53
24,2017-01-01 00:00:00,3098887.0,457823.16,283812.72,1472962.2,1362182.2,13350.46,NaN,NaN,67287.0,...,80.61,117186,0,6,1,2017,1,1,1,52
25,2017-01-01 01:00:00,3098887.0,457823.16,283826.64,1472962.2,1362230.4,13350.57,NaN,NaN,67287.0,...,80.97,117189,1,6,1,2017,1,1,1,52
26,2017-01-01 02:00:00,3098887.0,457823.16,283840.08,1472962.2,1362278.8,13350.7,NaN,NaN,67287.0,...,80.10,117196,2,6,1,2017,1,1,1,52
27,2017-01-01 03:00:00,3098887.0,457823.16,283853.04,1472962.2,1362327.2,13350.81,NaN,NaN,67287.0,...,79.78,117202,3,6,1,2017,1,1,1,52
28,2017-01-01 04:00:00,3098887.0,457823.16,283865.68,1472962.2,1362376.8,13350.81,NaN,NaN,67287.0,...,78.93,117209,4,6,1,2017,1,1,1,52
29,2017-01-01 05:00:00,3098887.0,457823.16,283878.40,1472962.2,1362425.4,13350.81,NaN,NaN,67287.0,...,79.85,117216,5,6,1,2017,1,1,1,52
30,2017-01-01 06:00:00,3098887.0,457823.16,283891.12,1472962.2,1362474.0,13350.97,NaN,NaN,67287.0,...,80.52,117229,6,6,1,2017,1,1,1,52
31,2017-01-01 07:00:00,3098887.0,457823.16,283906.60,1472962.2,1362522.8,13351.11,NaN,NaN,67287.0,...,80.37,117236,7,6,1,2017,1,1,1,52
32,2017-01-01 08:00:00,3098887.0,457823.16,283919.92,1472962.2,1362571.4,13351.21,NaN,NaN,67287.0,...,79.35,117248,8,6,1,2017,1,1,1,52
33,2017-01-01 09:00:00,3098887.0,457823.16,283932.68,1472962.2,1362619.8,13351.32,NaN,NaN,67287.0,...,77.28,117254,9,6,1,2017,1,1,1,52
34,2017-01-01 10:00:00,3098887.0,457823.16,283944.80,1472962.2,1362668.6,13351.44,NaN,NaN,67287.0,...,74.10,117259,10,6,1,2017,1,1,1,52
35,2017-01-01 11:00:00,3098887.0,457823.16,283956.24,1472962.2,1362717.0,13351.58,NaN,NaN,67287.0,...,71.75,117266,11,6,1,2017,1,1,1,52
36,2017-01-01 12:00:00,3098887.0,457823.16,283967.96,1472962.2,1362765.6,13351.72,NaN,NaN,67287.0,...,70.41,117267,12,6,1,2017,1,1,1,52
37,2017-01-01 13:00:00,3098887.0,457823.16,283980.00,1472962.2,1362814.0,13351.84,NaN,NaN,67287.0,...,66.37,117267,13,6,1,2017,1,1,1,52
38,2017-01-01 14:00:00,3098887.0,457823.16,283993.08,1472962.2,1362862.0,13352.01,NaN,NaN,67287.0,...,63.42,117267,14,6,1,2017,1,1,1,52
39,2017-01-01 15:00:00,3098887.0,457823.16,284006.12,1472962.2,1362910.0,13352.15,NaN,NaN,67287.0,...,64.57,117267,15,6,1,2017,1,1,1,52
40,2017-01-01 16:00:00,3098887.0,457823.16,284019.00,1472962.2,1362957.4,13352.27,NaN,NaN,67287.0,...,68.22,117267,16,6,1,2017,1,1,1,52
41,2017-01-01 17:00:00,3098887.0,457823.16,284032.28,1472962.2,1363005.0,13352.38,NaN,NaN,67287.0,...,73.49,117267,17,6,1,2017,1,1,1,52
42,2017-01-01 18:00:00,3098887.0,457823.16,284046.24,1472962.2,1363052.6,13352.5,NaN,NaN,67287.0,...,77.42,117267,18,6,1,2017,1,1,1,52
43,2017-01-01 19:00:00,3098887.0,457823.16,284060.00,1472962.2,1363101.2,13352.61,NaN,NaN,67287.0,...,79.16,117277,19,6,1,2017,1,1,1,52
44,2017-01-01 20:00:00,3098887.0,457823.16,284073.68,1472962.2,1363149.2,13352.72,NaN,NaN,67287.0,...,80.28,117277,20,6,1,2017,1,1,1,52
45,2017-01-01 21:00:00,3098887.0,457823.16,284087.32,1472962.2,1363197.4,13352.84,NaN,NaN,67287.0,...,81.30,117284,21,6,1,2017,1,1,1,52
46,2017-01-01 22:00:00,3098887.0,457823.16,284100.36,1472962.2,1363246.4,13352.96,NaN,NaN,67287.0,...,82.17,117288,22,6,1,2017,1,1,1,52
47,2017-01-01 23:00:00,3098887.0,457823.16,284113.00,1472962.2,1363296.0,13353.07,NaN,NaN,67287.0,...,82.61,117297,23,6,1,2017,1,1,1,52
48,2018-01-01 00:00:00,1509294.0,481853.36,365328.00,NaN,NaN,15278.03,NaN,NaN,67287.0,...,88.47,114606,0,0,1,2018,1,1,1,1
49,2018-01-01 01:00:00,1509294.0,481853.36,365337.92,NaN,NaN,15278.03,NaN,NaN,67287.0,...,88.11,114606,1,0,1,2018,1,1,1,1

In [223]:
df_total=df_total.sort_values(by=["Year","dayofyear","hour"])

Promjena naziva kolona prema sheetovima iz kojih dolaze. Ovo je bilo neophodno jer se npr. kolona *Temperatura* i *Vlažnost* ponavljaju kroz sheet-ove pa da se zna odakle koja dolazi.

In [224]:
new_names=["",selected_sheet_names[0],selected_sheet_names[1],selected_sheet_names[1],selected_sheet_names[2],selected_sheet_names[2],
selected_sheet_names[3],selected_sheet_names[4],selected_sheet_names[5],selected_sheet_names[6],selected_sheet_names[6],selected_sheet_names[7],
selected_sheet_names[7],selected_sheet_names[8],selected_sheet_names[8],selected_sheet_names[9],
selected_sheet_names[9],selected_sheet_names[10],selected_sheet_names[10],selected_sheet_names[10],selected_sheet_names[10],
selected_sheet_names[10],selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[11],
selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[12],selected_sheet_names[12],selected_sheet_names[12],
selected_sheet_names[12],selected_sheet_names[12],selected_sheet_names[13],selected_sheet_names[13],
selected_sheet_names[14],selected_sheet_names[14],selected_sheet_names[15],selected_sheet_names[15],
selected_sheet_names[16],selected_sheet_names[16],selected_sheet_names[17],selected_sheet_names[17],
selected_sheet_names[18],selected_sheet_names[18],selected_sheet_names[19],selected_sheet_names[19],
selected_sheet_names[20],selected_sheet_names[20],selected_sheet_names[21]]#"Sat","Dan u sedmici","Mjesec","Godina",'Kvartal','Dan u godini','Dan u mjesecu','Sedmica'

In [225]:
new_names1=df_total.columns[0:49]
new_names2=list(new_names+new_names1)

In [226]:
new_names2
new_names2.extend(["Sat","Dan u sedmici","Mjesec","Godina",'Kvartal','Dan u godini','Dan u mjesecu','Sedmica'])

In [227]:
df_total.shape

(15127, 57)

In [228]:
df_total.columns  = new_names2

In [229]:
df_total.head()

,Datum i vrijeme,Plinomjer ist.zgrada 00062313Plin (m3),Brojilo el.energije su 35649294El.energija VT (kWh),Brojilo el.energije su 35649294El.energija MT (kWh),Brojilo el.energije tr 35649314El.energija VT (kWh),Brojilo el.energije tr 35649314El.energija MT (kWh),Vodomjer stara 09249850Voda (m3),Vodomjer nova 09249847Voda (m3),Vodomjer hidrant 10058705Voda (m3),Brojilo el.energije ko 46621646El.energija VT (kWh),...,Temp.senzor vanj.1 25000099Vlažnost (%),Plinomjer zap.zgrada 20526377Plin (m3),Sat,Dan u sedmici,Mjesec,Godina,Kvartal,Dan u godini,Dan u mjesecu,Sedmica
312,2015-10-01 00:00:00,3009985.0,371651.16,230421.12,1225692.6,1130192.8,NaN,NaN,NaN,67287.0,...,80.24,85344,0,3,10,2015,4,274,1,40
313,2015-10-01 01:00:00,3009985.0,371651.16,230427.44,1225692.6,1130224.6,NaN,NaN,NaN,67287.0,...,79.87,85344,1,3,10,2015,4,274,1,40
314,2015-10-01 02:00:00,3009985.0,371651.16,230433.52,1225692.6,1130256.4,NaN,NaN,NaN,67287.0,...,83.93,85344,2,3,10,2015,4,274,1,40
315,2015-10-01 03:00:00,3009985.0,371651.16,230440.12,1225692.6,1130287.6,NaN,NaN,NaN,67287.0,...,83.88,85344,3,3,10,2015,4,274,1,40
316,2015-10-01 04:00:00,3009985.0,371651.16,230446.64,1225692.6,1130319.0,NaN,NaN,NaN,67287.0,...,85.09,85344,4,3,10,2015,4,274,1,40

Spašavanje fajla:

In [230]:
df_total.to_excel("Merged files.xlsx", index=False)